*, *::before, *::after {
    box-sizing: border-box;
}
 
html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    text-align: center;

    @media (min-width: 700px) {
        text-align: left;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: $veryDarkCyan;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 90%;
    max-width: 90rem;
    margin: 0 auto;
}

.unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

    
