.community {
    padding: 0 1rem;
}

.community-card {
    position: relative;
    margin-top: 4rem;
    background: #ffffff;
    z-index: 100;

    @media (min-width: 68rem) {
        max-width: 50%;
        text-align: center;
        padding-bottom: 3rem;
    }

    & .btn {

        @media (min-width: 68rem) {
            font-size: 1.2rem;
        }
    }
}