.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    box-shadow: 0 5px 6px 3px rgba(182, 182, 182, 0.2);
    font-size: 13px;
    font-weight: 600;
}

.btn--cta {
    padding: 0.5em 2em;
    border-radius: 2em;
    background-color: white;
    color: black;
    transition: color 250ms ease-in-out;

    &:hover {
        color: $grayishBlue;
    }

    @media (min-width: 700px) {
        font-size: 1rem;
        padding: 0.75em 4em;
    }
}

.btn--primary {
    padding: 1em 4em;
    border-radius: 3em;
    background-color: $pink;
    color: white;
    font-size: 14px;
    transition: background-color 250ms ease-in-out;

    &:hover {
        background-color: lighten($pink, 10%);
    }

    @media (min-width: 700px) {
        padding: 1.3em 5em;
    }
}

.shadow-box {
    max-width: 90rem;
    margin: 0 auto 2.5rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}