footer {
    margin-top: -8rem;
    padding-top: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: $veryDarkCyan;
    color: #ffffff;
    text-align: left;
}

.footer-items {

    @media (min-width: 68rem) {
        display: flex;
        justify-content: flex-start;
    }

    & > * {

        &:not(:last-child) {
        
            @media (min-width: 68rem) {
                // margin-right: 5rem;
            }
        }
    }
}

.footer-logo {
    margin-bottom: 1.5rem;

    @media (min-width: 68rem) {
        margin-bottom: 2.5rem;
    }
}

.footer-logo img {
    max-width: 150px;

    @media (min-width: 68rem) {
        max-width: 210px
    }
    
}

.contact-details {
    margin-bottom: 3rem;

    @media (min-width: 68rem) {
        flex: 2;
        margin-right: 3rem;
    }
}

.contact-details-links {
    text-decoration: none;
    color: #ffffff;

    &:hover {
        text-decoration: underline;
    }
}

.contact-details-address,
.contact-details-phone,
.contact-details-email {
    position: relative;
    padding-left: 2.5rem;
    line-height: 1.5;
}

.contact-details-address::before,
.contact-details-phone::before,
.contact-details-email::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0.4rem;
    left: 0;
    width: 20px;
    height: 20px;
}

.contact-details-address {
    margin-top: 0;
}

.contact-details-address::before {
    background-image: url('../images/icon-location.svg');
}

.contact-details-phone::before {
    background-image: url('../images/icon-phone.svg');
}

.contact-details-email::before {
    background-image: url('../images/icon-email.svg');
}

.menu-one,
.menu-two {
    @media (min-width: 68rem) {
        flex: 1;
    }
}

.menu-one li,
.menu-two li {
    margin-bottom: 1.5rem;
}

.menu-two {
    margin-bottom: 3rem;
}

.social {
    display: flex;
    justify-content: center;

    &:not(:last-child) {
        
        @media (min-width: 68rem) {
            flex: 1;
        }
    }
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    width: 40px;
    height: 40px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50%;
    transition: all 250ms ease-in-out;

    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    &:hover {
        // background-color: #ffffff;
        color: $pink;
        border-color: $pink;
    }
}

.copyright {
    padding: 1.5rem 0 2rem;
    font-size: 0.675rem;
    text-align: center;

    @media (min-width: 68rem) {
        text-align: right;
        font-size: 1rem;
    }
}