.header-hero-section {
    background-color: $veryPaleCyan;
    background-image: url('../images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -270%;
    background-size: 105%;
    padding-bottom: 2rem;
    margin-bottom: 4rem;

    @media (min-width: 68rem) {
        background-image: url('../images/bg-hero-desktop.svg');
        background-size: cover;
        background-position: center 83%;
        padding-bottom: 4rem
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1.75em;

    @media (min-width: 68rem) {
        padding-top: 3rem;
        margin-bottom: 3rem;
    }
}

.logo-img {
    width: 7.5rem;

    @media (min-width: 68rem) {
        width: 12.5rem;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;

    @media (min-width: 68rem) {
     flex-direction: row;
     align-items: center;  
     padding: 0; 
    }
}

.hero-content {
    margin-bottom: 3rem;
    
    @media (min-width: 68rem) {
        flex: 0 0 32rem;
        margin-bottom: 0;
    }
}

.hero-title {
    margin: 0 0 1em;
    font-size: 1.4rem;

    @media (min-width: 68rem) {
        font-size: 2.5rem; 
        margin-bottom: 0.5em;
    }
}

.hero-text {
    margin: 0 0 2.3em;
    font-size: 1rem;
    line-height: 1.5;

    @media (min-width: 68rem) {
        font-size: 1.125rem;
    }
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 68rem) {
        width: 68rem;
        padding-left: 2rem;
    }

    & img {

        @media (min-width: 68rem) {
            max-width: 85%;
            min-width: 30rem;
        }
    }
}
